

<header></header>
<nav>
  <ul>
    <!-- <li><a [routerLink]="['/home', id]">Inicio</a></li> -->
    <!-- <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li> -->
    <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/intranet" routerLinkActive="active">Intranet</a></li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer></footer>
